<!DOCTYPE html>
<html lang="en">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
-->
<head>
    <meta charset="UTF-8">
    <title>imaginator</title>
    <link rel="stylesheet" href="/css/home.css">
  <script>
      sessionStorage.setItem("user", "");
      sessionStorage.setItem("id","");
      sessionStorage.setItem("email", "");
      sessionStorage.setItem("image", "");
    function poner(images) {
      var lista = document.getElementById("images");
      while (lista.hasChildNodes()) {

        lista.removeChild(lista.childNodes[0]);
      }
      for(i=images.length-1;i>=0;i--){
        var div = document.createElement("div");
        div.id = "child";
        var title = document.createElement("h2");
        var data = document.createElement("h4");
        title.textContent = images[i].title;
        data.textContent = "format: "+images[i].format+" date: "+images[i].capture_date;
        div.appendChild(title);
        div.appendChild(data);
        document.getElementById("images").appendChild(div);
      }
    }
    function guardar(user, email, id) {
        sessionStorage.setItem("user", user);
        sessionStorage.setItem("id",id);
        sessionStorage.setItem("email", email);
    }
  </script>
  <script>
      $(document).ready(function(){
      $.post("Image/public_images",function (images) {
          poner(images);
      });


      $("#login").click(function(){
        email = $("#email").val();
        pass = $("#password").val();
        $.post("User/login",{email:email,password:pass},function (data) {
          if (data=="0"){
            alert("Incorect email address or password ");
          }else {
              guardar(data.user,data.email,data.id)
            window.location.href = "<%=baseurl%>home";
          }
        });
      });
      $("#sing_up").click(function () {
        window.location.href = "<%=baseurl%>sing_up";
      });
      $("#search").click(function () {
        text = $("#search_text").val();
        $.post("Image/search",{search:text},function (images) {
          poner(images);
        });
      });
    });
  </script>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <script src="https://apis.google.com/js/api:client.js"></script>
  <script>
      var startApp = function() {
          gapi.load('auth2', function(){
              // Retrieve the singleton for the GoogleAuth library and set up the client.
              auth2 = gapi.auth2.init({
                  client_id: '43890780869-760rh8qnm674imgopmaim8crcqr8hvmc.apps.googleusercontent.com',
                  cookiepolicy: 'single_host_origin',
                  // Request scopes in addition to 'profile' and 'email'
                  //scope: 'additional_scope'
              });
              attachSignin(document.getElementById('customBtn'));
          });
      };

      function attachSignin(element) {
          auth2.attachClickHandler(element, {},
              function(googleUser) {
                var profile = googleUser.getBasicProfile();
                  sessionStorage.setItem("user", profile.getName());
                  sessionStorage.setItem("id",profile.getId());
                  sessionStorage.setItem("email", profile.getEmail());
                  sessionStorage.setItem("image", profile.getImageUrl());
                  window.location.href = "<%=baseurl%>home";

              }, function(error) {
                  alert(JSON.stringify(error, undefined, 2));
              });
      }
  </script>
  <style type="text/css">
    #customBtn {
      display: inline-block;
      background: white;
      color: #444;
      width: 190px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
    }
    #customBtn:hover {
      cursor: pointer;
    }
    span.label {
      font-family: serif;
      font-weight: normal;
    }
    span.icon {
      background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 42px;
      padding-right: 42px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }
  </style>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=baseurl%>">Imaginator</a>
    </div>
    <div class="input-group left" id="adv-search">
      <input type="text" class="form-control" id="search_text" placeholder="Search for snippets" />
      <div class="input-group-btn">
        <div class="btn-group" role="group">
          <div class="dropdown dropdown-lg">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="filter">Filter by</label>
                  <select class="form-control">
                    <option value="0" selected>All Snippets</option>
                    <option value="1">Featured</option>
                    <option value="2">Most popular</option>
                    <option value="3">Top rated</option>
                    <option value="4">Most commented</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="contain">Author</label>
                  <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="contain">Contains the words</label>
                  <input class="form-control" type="text" />
                </div>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </form>
            </div>
          </div>
          <button type="button" id="search" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li>
            <input id="email" type="email" class="form-control" name="user" value="" placeholder="Email Adress">
          </li>
          <li>
            <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">
          </li>

          <li>
            <button type="button" id="login" class="btn btn-primary">Login</button>
          </li>
          <li>
            <button type="button" id="sing_up" class="btn btn-primary">Sing Up</button>
          </li>

          <!-- In the callback, you would hide the gSignInWrapper element on a
  successful sign in -->
          <div id="gSignInWrapper">
            <span class="label">Sign in with:</span>
            <div id="customBtn" class="customGPlusSignIn">
              <span class="icon"></span>
              <span class="buttonText">Google</span>
            </div>
          </div>
          <script>startApp();</script>

          </li>

        </ul>
      </div>
    </div>
  </div>


  </div>
</nav>

<div class="container">
  <div class="row" id="images">

  </div>
</div>
</body>
</html>
