<!DOCTYPE html>
<html lang="en">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<head>
    <meta charset="UTF-8">
    <title>imaginator</title>
    <link rel="stylesheet" href="/css/home.css">
  <script>
    $(document).ready(function(){
        var data = document.createElement("h4");
        data.textContent = "hola "+ sessionStorage.user;
        document.getElementById("nomb").appendChild(data);
      $("#logout").click(function(){
        $.post("/User/logout").then(window.location.href = "/");
      });
      $("#load_image").click(function () {
        window.location.href = "/createform";
      });
      $("#update_image").click(function () {
        window.location.href = "/my_images";
      });
    });
  </script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Imaginator</a>
    </div>
    <div class="right">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Images<span class="caret"></span></a>
            <ul class="dropdown-menu" style="background-color: #757575">
              <li>
                <input type="button"  class="btn btn-link" id="update_image" value="Update Images">
              </li>
              <li>
                <input type="button"  class="btn btn-link" id="load_image" value="Load Image">
              </li>
            </ul>
          </li>
          <li>
            <button type="button" id="logout" class="btn btn-primary">Log Out</button>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>

<section class="container ng-scope ng-fadeInLeftShort" style="">
    <!-- uiView:  --><div class="ng-fadeInLeftShort ng-scope" style="">
        <div class="container-overlap bg-blue-500 ng-scope">
            <div class="media m0 pv">
                <div class="media-left"><a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User" class="media-object img-circle thumb64"></a></div>
                <div class="media-body media-middle" id="nomb">
                </div>
            </div>
        </div>
        <div class="container-fluid ng-scope">
            <div class="row">
                <!-- Left column-->
                <div class="col-md-7 col-lg-8">
                    <form class="card ng-pristine ng-valid">

                        <div class="card-divider"></div>
                        <div class="card-offset">
                            <div class="card-offset-item text-right">
                                <button type="button"  class="btn-raised btn btn-warning btn-circle btn-lg"><em class="fa fa-edit"></em></button>
                                <button type="submit" class="btn-raised btn btn-success btn-circle btn-lg ng-hide"><em class="fa fa-check"></em></button>
                            </div>
                        </div>
                        <h5 class="card-heading pb0">Contact Information</h5>
                        <div class="card-body">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td><em class="ion-document-text icon-fw mr"></em>Area</td>
                                    <td class="ng-binding">Research &amp; development</td>
                                </tr>
                                <tr>
                                    <td><em class="ion-egg icon-fw mr"></em>Birthday</td>
                                    <td><span class="ng-scope ng-binding editable">10/11/2000</span></td>
                                </tr>
                                <tr>
                                    <td><em class="ion-ios-body icon-fw mr"></em>Member since</td>
                                    <td><span class="ng-scope ng-binding editable">05/11/2015</span></td>
                                </tr>
                                <tr>
                                    <td><em class="ion-man icon-fw mr"></em>Gender</td>
                                    <td><span class="ng-scope ng-binding editable">Female</span></td>
                                </tr>
                                <tr>
                                    <td><em class="ion-android-home icon-fw mr"></em>Address</td>
                                    <td><span class="ng-scope ng-binding editable">Some street, 123</span></td>
                                </tr>
                                <tr>
                                    <td><em class="ion-email icon-fw mr"></em>Email</td>
                                    <td><span class="ng-scope editable"><a href="" class="ng-binding">user@mail.com</a></span></td>
                                </tr>
                                <tr>
                                    <td><em class="ion-ios-telephone icon-fw mr"></em>Contact phone</td>
                                    <td><span class="ng-scope ng-binding editable">13-123-46578</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-divider"></div>
                    </form>
                </div>
                <!-- Right column-->
                </div>
            </div>
        </div>
</section>
</body>
</html>
